<div class="alert alert-success alert-dismissible" style="position: absolute;top: 8.2%;right: 10%;z-index: 1;" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%=@alert_msg%>
</div>
