<div class="summary-box col-md-4 text-center">
  <div class="summary-value">
    <%total = 0%>
    <%@expenses.each do |i| %>
    <%total += i.amount%>
    <%end%>
    <%=total%>
  </div>
  <div class="summary-label">Total</div>
</diV>
<div class="summary-box col-md-4 text-center">
  <div class="summary-value"><%= tansactions = @expenses.count %></div>
  <div class="summary-label">Transactions</div>
</div>
<div class="summary-box col-md-4 text-center">
  <div class="summary-value"><%=tansactions == 0 ? 0 : total/tansactions %></div>
  <div class="summary-label">Average</div>
</div>
