<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type">
        <% @types.each do |type|%>
        <%= link_to type.name, expenses_path(type_id: type.id), class: 'list-group-item', remote: true %>
        <% end %>
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-category">
        <% @categories.each do |category|%>
        <%= link_to category.name, expenses_path(category_id: category.id), class: 'list-group-item', remote: true %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9 index-data">
      <%=render("form")%>
    </div>
  </div>
