<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>

      <div class="list-group filter-type">
        <% @types.each do |type|%>
        <%= link_to type.name, expenses_path, class: 'list-group-item', tid: type.id%>
        <% end %>
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>

      <div class="list-group filter-category">
        <% @categories.each do |category|%>
        <%= link_to category.name, expenses_path, class: 'list-group-item', cid: category.id%>
        <% end %>
      </div>

    </div>
    <div class="col-md-9 index-data">
      <%=render("form")%>
    </div>
  </div>
</div>
